body{
    background-color:rgb(191, 191, 255);
}
.announce{
    display:flex;
    background-color:salmon;
    justify-content:center;
    align-items:center;
    color:skyblue;
    font-size:24px;
}

button{
    color:rgb(149, 149, 201);
    background-color:rgb(233, 233, 233);
}