body{
    background-color:rgb(191, 191, 255);
}


button{
    color:black;
    font-size:20px;
    font-weight:600;
    background-color:rgb(233, 233, 233);
    padding:80px;
    width:300px;

}

.main{
    display:flex;
    justify-content:space-evenly;

}

.title{
    text-align:center;
    color:rgb(0, 0, 134);
    font-size:42px;
    text-align:center;
    font-weight:800;
    margin:50px;
}

.decide{
    display:flex;
    justify-content:space-around;
    margin-top:100px;
}

#computerscore{
    display:flex;
    font-size:20px;
    text-align:left;
    color:red;
    margin:20px;
}

#scoredisplay{
    font-size:20px;
    text-align:left;
    color:blue;
    margin:20px;
}

#newdiv{
    font-size:40px;
    display:flex;
    justify-content:center;
    margin:10px;
}


#victory{
    font-size:48px;
    color:gold;
    font-weight:800;
    text-align:center;
    background-color:black;
    margin:20px;
}

#div1{
    margin:10px;
    font-size:18px;
    font-weight:800;
    color:black;
    text-align:center;
    margin:30px;

}
#rock{background-color:rgb(184, 138, 69);}
#paper{background-color:white;}
#scissors{background-color:steelblue;}

.sub{
    font-size:20px;
    text-align:center;
    margin:80px;
    font-weight:600;
    margin-top:0;
       
}